DATABASE_URL=mysql+pymysql://avnadmin:PASTE_AIVEN_PASSWORD_HERE@escape-mysql-escapedb.l.aivencloud.com:22620/escape_db?ssl_verify_cert=false
GOOGLE_MAPS_API_KEY=PASTE_GOOGLE_MAPS_SERVER_KEY_HERE
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
PEDESTRIAN_LIVE_WINDOW_SECONDS=120
PEDESTRIAN_RECENT_WINDOW_SECONDS=600
CONGESTION_POLL_INTERVAL_SECONDS=90
MELBOURNE_PEDESTRIAN_API_URL=https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/pedestrian-counting-system-past-hour-counts-per-minute/records
MELBOURNE_SENSOR_LOCATIONS_API_URL=https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/pedestrian-counting-system-sensor-locations/records
MELBOURNE_PEDESTRIAN_API_TIMEOUT_SECONDS=15
MELBOURNE_PEDESTRIAN_API_LIMIT=100
MELBOURNE_LANDMARKS_API_URL=https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/landmarks-and-places-of-interest-including-schools-theatres-health-services-spor/records
MELBOURNE_ENVIRONMENTAL_ASSETS_API_URL=https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/assets-for-environmental-reporting/records
MELBOURNE_REFUGE_API_TIMEOUT_SECONDS=20
MELBOURNE_REFUGE_API_LIMIT=100
PREDICTION_MODEL_VERSION=transparent-trend-v1
PREDICTION_DEFAULT_HORIZON_MINUTES=60
